@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  
}

.image_session {
  width: 35%;
  background-color: cyan;
  background: url('./assets/image.png');
  background-position: center;
  background-repeat: no-repeat;
}

.image_text {
  font-size: 25px;
  margin: 40px;
}

.signup_session {
  width: 65%;
  flex-direction: column;
}